.box {
    width: 300px;
    height: 300px;
    background: #fff;
}

/* --------------------------------------------------- */

.card-title{
    padding-top: 20px; 
    padding-bottom: 20px;
    

}
.card   {
    margin-top: 5%;
    margin-bottom: 5%; 
    
}
.rounded-circle{
    width:8%;
    height:8%;
    margin-left:7%;
    
}


.btn-primary, .btn-group, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
    background-color: #B9E2FF !important;
    border-color:  transparent !important ;
    border-radius: 5px !important;
}

