
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 300px;
    background: #fff;
}
 
/* --------------------------------------------------- */

.card-title{
    padding-top: 20px; 
    padding-bottom: 20px;
}
.card   {
    margin-top: 5%;
    margin-bottom: 5%; 
    
}
.rounded-circle{
    width:8%;
    height:8%;
    margin-left:7%;
    
}
.rounded-circle {
    border-image: url(bootstrap-logo.svg) 30 round;
    border-image: repeating-linear-gradient(30deg, #4d9f0c, #9198e5, #4d9f0c 20px) 60;
}
.navbar {
    background-color: #B9E2FF !important;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #3475E6 !important;
    border-color:  transparent !important ;
    border-radius: 5px !important;
}
