
/* --------------------------------------------------- */

.card-title{
    padding-top: 20px; 
    padding-bottom: 20px;
    

}
.card   {
    margin-top: 5%;
    margin-bottom: 5%; 
    
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #3475E6 !important;
    border-color:  transparent !important ;
    border-radius: 5px !important;
    border-style: none !important;
}
