body {
    background-image: linear-gradient(
        #B9E2FF,    
        #3475E6,
        #FCE96A,
        #FFFFFF
        
    )
}





/*hover footer */
a {
    color: inherit;
    text-decoration: none;
}

.a {
    background:
    linear-gradient(
        to right,
        #FFFFFF,
        #FFFFFF
    ),
    linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 600ms;
}

a:hover {
    background-size: 0 3px, 100% 3px;
}

.b {
    background:
    linear-gradient(
        to right,
        #FFFFFF,
        #FFFFFF
    ),
    linear-gradient(
        to right,
        rgba(0, 100, 200, 1),
        rgba(0, 100, 200, 1),
        rgba(0, 100, 200, 1)
        
        
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 600ms;
}

.c {
    background:
    linear-gradient(
        to right,
        #FFFFFF,
        #FFFFFF
    ),
    linear-gradient(
        to right,
        rgba(29 , 161 , 242),
        rgba(29 , 161 , 242),
        rgba(29 , 161 , 242)

        
        
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 600ms;
}

.d {
    background:
    linear-gradient(
        to right,
        #FFFFFF,
        #FFFFFF
    ),
    linear-gradient(
        to right,
        #25D366,
        #25D366,
        #25D366

        
        
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 600ms;
}

.e {
    background:
    linear-gradient(
        to right,
        #FFFFFF,
        #FFFFFF
    ),
    linear-gradient(
        to right,
        #4285F4,
        #DB4437,
        #F4B400,
        #0F9D58

        
        
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 600ms;
}

hr {
    border: none;
    border-top: 1px solid rgba(255,255,255,.3);
    border-bottom: 1px solid rgba(0,0,0,.08);
    margin: 2.5em 0;
    position: relative;
}
hr:before,hr:after {
    content: '';
    position: absolute;
    bottom:0px;
    height: 5em;
    width: 100%;
    background: radial-gradient(ellipse at bottom, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 70%);
    z-index:0;
}
hr:after {
    top:0px;
    bottom:auto;
    height: 1.5em;
    background: radial-gradient(ellipse at top, rgba(0,0,0,0.06) 0%,rgba(0,0,0,0) 70%);
}
