<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='css/style.css')}}"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <title>{{titulo}}</title>
</head>
<body>
     <!--começo navbar-->
     <nav class="navbar">
      <div class="container-fluid">
        <!--img logo-->
        <a class="navbar-brand" href="/">
          <img src="static/imgs/bootstrap-logo.svg" class="rounded-circle" alt="Bootstrap" >
        </a>
  </nav>
  <!--fim da navbar-->

<br>

<div class ="row g-3 card center shadow p-3 mb-5 bg-body rounded" style="width: 40rem; margin-left: 30%;"><!--100% wide until extra large breakpoint-->

    <br><br>
    <h3  class="text-center fw-bold text-uppercase">Inscrição para Sorteio</h3>
    <form action="/cadastrarInscricao.html" method="POST" class="row g-3">
      <!-- label de cpf -->
      <div class="col-md-6">
        <label id="cpfFunc" name="cpfFunc" class="form-label">CPF:</label>
        <input type="text" class="form-control" id="cpf" name="coletarCPF">
      </div>
      <!-- label de nome -->
      <div class="col-md-6">
        <label id="nomeFunc" name="nomeFunc" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="nome" name="coletarNome">
      </div>
      <!-- label de período -->
      <p>Selecione o(s) período(s) para reserva de vaga:</p>
      <div class="form-group form-check">
        <label class="form-check-label" for="exampleCheck1" id="manha" name="manha">Manhã</label>
        <input type="checkbox" class="form-check-input" id="manha"  name="coletarManha" value="1">
      </div>

      <div class="form-group form-check">
        <label class="form-check-label" for="exampleCheck1" id="tarde" name="tarde">Tarde</label>
        <input type="checkbox" class="form-check-input" id="tarde" name="coletarTarde" value="1">
      </div>

      <div class="form-group form-check">
        <label class="form-check-label" for="exampleCheck1" id="noite" name="noite">Noite</label>
        <input type="checkbox" class="form-check-input" id="noite" name="coletarNoite" value="1">
      </div>

      <div class="d-grid gap-2 col-6 mx-auto">
        <button style="background-color:#b9e2ff; color:  white;" type="submit" id="buttonCadastrar" class="btn btn-primary">Cadastrar</button>
      </div>
    </form>
    <!--resultado caso os dados tenha sido inseridos no BD-->
    <h3 class="text-center text-break">{{resultado}}</h3>
</div>
<br>
<div class="text-center">
  <footer style="background-color: #b9e2ff; text-decoration-color: black;" class="card-body">
    <h5 class="card-title"> AutoPark<br></h5>
    <p style="background-color: #b9e2ff; text-decoration-color: black;" class="card-text"></p>
    <a href="www.facebook.com" style="padding: 50px;"><img src="{{url_for('static', filename='imgs/facebook.png')}}" style="width: 50px;"></a>
    <a href="www.instagram.com" style="padding: 50px;"><img src="{{url_for('static', filename='imgs/instagram.png')}}"style="width: 50px;"></a>
    <a href="https://www.twitter.com" style="padding: 50px;"><img src="{{url_for('static', filename='imgs/twitter.png')}}"style="width: 50px;"></a>
    <a style="padding: 50px;"><img src="{{url_for('static', filename='imgs/whatsapp.png')}}"style="width: 50px;"></a>
    <a href="mailto:contato.autopark@hotmail.com" style="padding: 50px;"><img src="{{url_for('static', filename='imgs/gmail.png')}}"style="width: 50px;"></a>
     <h6><br><br>Todos os direitos reservados © 2022<hr></h6>
  </footer>
  </div> 
</body>
</html>